@media print {
  @page {
    size: landscape;
    margin: 0;
  }

  body {
    background: none;
    height: auto;
    overflow: visible;
    display: block;
  }

  #slide-container {
    width: 100%;
    height: auto;
    overflow: visible;
    background: none;
  }

  .slide {
    position: relative;
    top: auto;
    left: auto;
    width: 100vw;
    height: 100vh;
    opacity: 1 !important;
    pointer-events: auto;
    page-break-after: always;
    break-after: page;
    border: none;
    box-shadow: none;
  }

  .slide.active {
    opacity: 1;
  }
}
