body {
  margin: 0;
  padding: 0;
  font-family: var(--font-base);
  font-size: 16px;
  color: var(--c-fg);
  background: var(--c-backdrop);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.slide:not(:first-child) {
  opacity: 0;
  pointer-events: none;
}

.js-active .slide {
  opacity: 0;
  pointer-events: none;
}

.js-active .slide.active {
  opacity: 1;
  pointer-events: auto;
  z-index: 1;
}
